@model System.Collections.Generic.IEnumerable<MvcStartApp.Data.Models.User>;
@{
   ViewData["Title"] = "View project authors";
}
 
<div class="text-center">
   <h2 class="display-4" style="text-align: left">Пользователи проекта</h2>
   <br>
       <table>
           <tr>
               <td>Идентификатор</td>
               <td>Имя</td>
               <td>Дата регистрации</td>
           </tr>
           @foreach (var user in Model)
               {
               <tr>
                   <td>@user.Id</td>
                   <td>@user.FirstName</td>
                   <td>@user.JoinDate</td>
               </tr>
           }
       </table>
</div>