@model System.Collections.Generic.IEnumerable<MvcStartApp.Data.Models.Request>;
@{
    ViewData["Title"] = "View project authors";
    Layout = "_Layout";
}  
<div class="text-center">
    <h2 class="display-4" style="text-align: left">Логи сайта</h2>
    <br>
    <table>
        <tr>
            <td>Идентификатор</td>
            <td>Url</td>
            <td>Дата посещения</td>
        </tr>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Id</td>
                <td>@request.Url</td>
                <td>@request.Date</td>
            </tr>
        }
    </table>
</div>